/* Resetting for ease of use */
*{
    padding: 0;
    margin: 0;
    font-family: 'Reem Kufi', sans-serif;
}

a{
    text-decoration: none;
}

p {
    margin: 10px 0;
}

ul{
    list-style: none;
}

/* Header Styling */
nav{
    background:#388087;
    color: #6fb3b8;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#logo{
    margin-left: 50px;
}

.container{
    margin: 0 30px;
}
#navbar ul{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#navbar h1 a{
    color: #f6f6f2;
    font-size: 24px;
}

#navbar ul li a{
    color: #6fb3b8;
    padding: 10px 10px;
}

#navbar ul li a:hover, #navbar ul li a.current{
    background: #6fb3b8;
    color: #f6f6f2;
    border-radius: 10px;
    /* padding: 5px; */
}

#navbar ul li a.current{
    background: #6fb3b8;
    color: #f6f6f2;
    border-radius: 10px;
}


#icon-heading {
    /* font-size: 26px; */
    font-weight: bold;
    color: #f6f6f2;
    float: left;
}


/* Main text */
body{
    background: #badfe7;
    max-height: 800px;
}

#main-text{
    text-align: center;
}

#main-text h1{
    color: #388087;
    padding-top: 70px;
    font-size: 50px;
}

#main-text p{
    color: #6fb3b8;
    font-size: 22px;
    line-height: 0.8em;
}

/* Images in home page */
#main-images{
    display: flex;
    justify-content: center;
}

#main-images img {
    width: 300px;
    align-items: center;
    margin-top: 30px;
}

#main-images img:hover{
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease;
    transform: scale(1.1);
}


#main-images p {
    text-align: center;
    color: #388087;
    margin: 0;
    font-size: 25px;
    margin-bottom: 50px;
}

/* Footer Styling */

footer{
    background: #388087;
    color: #6fb3b8;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    margin: 0;
}
